
/* use https://cssminifier.com */

		@font-face {
			font-family: lexendDeca;
			src: url('/lexend.ttf');
		}

		.headerbutton {
			border: 0px solid #ffffff;
			margin: 5px;
			max-width: 70px;
			border-radius: 5px;
			font-family: lexendDeca;
			font-size: 14px;
			padding: 5px 5px 5px 5px;
			cursor: pointer;
		}

		head {
			display: flex; 
		}

		body {

			/*background-color: black;*/
			background-image: url("/document/docsblank.png");
			background-size: 100%;
			/*color: lime;*/
			/*box-sizing: border-box;*/
			margin: 10;
			width: 50% 50;
			padding: 13px;
			display: flex;  
			flex-direction: column;
			max-height: 100vh;
			/*font-family: courier,arial,helvetica;*/
			/*font-family: -apple-system, BlinkMacSystemFont, sans-serif;*/
			font-family: lexendDeca;

			margin-left: 23%;
			margin-right: 25%;
			/*margin-bottom: 25%;*/
			
		}

		.bruh {
			display: inline;
			color: #ff0000;
		}

		.div2 {
			display: inline;
			color: #ff0000;
		}

		input:focus,
		select:focus,
		textarea:focus,
		button:focus {
			outline: none;
		}